Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2023-10, with the labels that each got.

#71 feat(utils): a uniqBy pipe was added
  projects/utils/README.md
  projects/utils/package-lock.json
  projects/utils/package.json
  projects/utils/src/lib/pipes/index.ts
  projects/utils/src/lib/pipes/unique-by/uniq-by.pipe.md
  projects/utils/src/lib/pipes/unique-by/uniq-by.pipe.spec.ts
  projects/utils/src/lib/pipes/unique-by/uniq-by.pipe.ts
Labels: enhancement, ngx-utils

#66 feat(store): Add support for effects
  angular.json
  package-lock.json
  package.json
  projects/store-test/.eslintrc.json
  projects/store-test/src/app/app.component.html
  projects/store-test/src/app/app.component.scss
  projects/store-test/src/app/app.component.ts
  projects/store-test/src/app/app.module.ts
  projects/store-test/src/assets/.gitkeep
  projects/store-test/src/favicon.ico
  projects/store-test/src/index.html
  projects/store-test/src/interface/user.interface.ts
  projects/store-test/src/main.ts
  projects/store-test/src/services/users.service.ts
  projects/store-test/src/store/user.effects.ts
  projects/store-test/src/store/user.store.ts
  projects/store-test/src/styles.scss
  projects/store-test/tsconfig.app.json
  projects/store-test/tsconfig.spec.json
  projects/store/README.md
  projects/store/package.json
  projects/store/src/lib/store/interfaces/base-store.ts
  projects/store/src/lib/store/interfaces/effects.ts
  projects/store/src/lib/store/interfaces/entity-store-assets.ts
  projects/store/src/lib/store/interfaces/index.ts
  projects/store/src/lib/store/interfaces/require-at-least-one.ts
  projects/store/src/lib/store/operators/handle-effect.operator.ts
  projects/store/src/lib/store/operators/index.ts
  projects/store/src/lib/store/spec/effects.service.ts
  projects/store/src/lib/store/spec/effects.ts
  projects/store/src/lib/store/spec/store-assets.ts
  projects/store/src/lib/store/spec/store-service.ts
  projects/store/src/lib/store/spec/store.spec.ts
  projects/store/src/lib/store/utils/base-store/base-store.util.spec.ts
  projects/store/src/lib/store/utils/base-store/base-store.util.ts
  projects/store/src/lib/store/utils/entity-store/entity-adapter.util.spec.ts
  projects/store/src/lib/store/utils/entity-store/entity-adapter.util.ts
  projects/store/src/public-api.ts
Labels: enhancement

#72 fix(table): Add index to table detail row
  projects/table-test/src/app/app.component.html
  projects/table/package.json
  projects/table/src/lib/table/ngx-table.component.html
Labels: ngx-table
