Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-04, with the labels that each got.

#110 Feature/ngx forms/compare validator
  projects/forms/README.md
  projects/forms/src/lib/validators/compare/compare.validator.spec.ts
  projects/forms/src/lib/validators/compare/compare.validator.ts
  projects/forms/src/lib/validators/validators.ts
  projects/layout/src/lib/pipes/item-size/item-size.pipe.spec.ts
  projects/layout/src/lib/pipes/item-size/item-size.pipe.ts
Labels: bug, enhancement, ngx-forms, ngx-layout

#111 feat(ngx-store): Add automatic selector observables generation
  projects/store-test/src/app/app.component.ts
  projects/store-test/src/app/app.module.ts
  projects/store-test/src/services/courses.service.ts
  projects/store-test/src/store/courses.store.ts
  projects/store/README.md
  projects/store/package.json
  projects/store/src/lib/store/abstracts/store.service.ts
  projects/store/src/lib/store/interfaces/index.ts
  projects/store/src/lib/store/interfaces/store-generator.ts
  projects/store/src/lib/store/interfaces/store-state.ts
  projects/store/src/lib/store/spec/store-state.service.ts
  projects/store/src/lib/store/spec/store.state.spec.ts
Labels: enhancement, ngx-store

#113 feat(ngx-layout): Add dropPredicate
  apps/layout-test/src/app/app.component.html
  apps/layout-test/src/app/app.component.ts
  libs/layout/README.md
  libs/layout/package.json
  libs/layout/src/lib/components/configurable-layout/configurable-layout.component.html
  libs/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
  libs/layout/src/lib/types/configurable-layout.ts
Labels: enhancement, ngx-layout

#114 feat(utils): an array-contains pipe has been added
  .husky/pre-commit
  README.md
  libs/utils/package-lock.json
  libs/utils/package.json
  libs/utils/src/lib/pipes/array-contains-one/array-contains-one.md
  libs/utils/src/lib/pipes/array-contains-one/array-contains-one.pipe.ts
  libs/utils/src/lib/pipes/array-contains-one/array-contains-one.spec.ts
  libs/utils/src/lib/pipes/index.ts
  package.json
Labels: enhancement, ngx-utils
