Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-07, with the labels that each got.

#166 feat(ngx-tour): Adds an operator to mock data when the tour is active, adds a delay and improves visuals
  apps/layout-test/src/pages/main/main.component.html
  apps/layout-test/src/pages/main/main.component.ts
  libs/tour/README.md
  libs/tour/src/index.ts
  libs/tour/src/lib/mocks/index.ts
  libs/tour/src/lib/mocks/overlay.mock.ts
  libs/tour/src/lib/mocks/tour-holder.component.mock.ts
  libs/tour/src/lib/mocks/tour-step.component.mock.ts
  libs/tour/src/lib/operators/index.ts
  libs/tour/src/lib/operators/use-mock-data-during-tour/use-mock-data-during-tour.operator.spec.ts
  libs/tour/src/lib/operators/use-mock-data-during-tour/use-mock-data-during-tour.operator.ts
  libs/tour/src/lib/services/tour-service/tour.service.spec.ts
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: enhancement, ngx-tour

#167 build(ngx-tour):v18.2.0
  libs/tour/package.json
Labels: publish, ngx-tour

#164 feat(meta): Updates all meta data of all packages
  libs/cookies/package.json
  libs/forms/package.json
  libs/i18n/package.json
  libs/layout/package.json
  libs/store/package.json
  libs/table/package.json
  libs/tour/package.json
  libs/utils/package.json
Labels: documentation, ngx-forms, ngx-table, ngx-store, ngx-utils, ngx-layout, ngx-cookies, ngx-translate, ngx-tour

#169 build(ngx-forms):v18.0.1
  libs/forms/package.json
Labels: publish, ngx-forms

#175 build(ngx-table):v18.0.2
  libs/table/package.json
Labels: publish, ngx-table

#171 build(ngx-layout):v18.1.1
  libs/layout/package.json
Labels: publish, ngx-layout

#174 build(ngx-tour):v18.2.1
  libs/tour/package.json
Labels: publish, ngx-tour

#173 build(ngx-utils):v18.0.1
  libs/utils/package.json
Labels: publish, ngx-utils

#168 build(ngx-cookies):v18.0.1
  libs/cookies/package.json
Labels: publish, ngx-cookies

#170 build(ngx-i18n):v18.0.1
  libs/i18n/package.json
Labels: publish, ngx-i18n

#172 build(ngx-store):v18.0.2
  libs/store/package.json
Labels: publish, ngx-store

#176 fix(ngx-tour): make sure the startTour emits when the tour ends
  apps/layout-test/src/pages/main/main.component.ts
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: ngx-tour

#177 build(ngx-tour):v18.2.2
  libs/tour/package.json
Labels: ngx-tour

#178 fix(ngx-tour): add a delay after the beforeVisible of a tour step
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: bug, ngx-store

#179 build(ngx-tour): v18.2.4
  libs/tour/package.json
Labels: release, ngx-tour

#180 feat(ngx-layout): provide a service that allows subscribing to one or more media query
  README.md
  apps/layout-test/src/app/app.component.ts
  apps/layout-test/src/pages/mediaquery/mediaquery.component.ts
  apps/layout-test/src/routes.ts
  libs/utils/README.md
  libs/utils/src/lib/services/index.ts
  libs/utils/src/lib/services/media-query/mediaquery.service.ts
  libs/utils/src/lib/services/media-query/query.service.md
Labels: enhancement, ngx-layout

#182 fix(ngx-utils): update keywords in light of new media service
  libs/utils/package.json
Labels: documentation, ngx-utils

#184 feat(ngx-utils): add a class to the withRouterLinks substitute element
  libs/utils/src/lib/pipes/with-router-links/with-router-links.md
  libs/utils/src/lib/pipes/with-router-links/with-router-links.pipe.spec.ts
  libs/utils/src/lib/pipes/with-router-links/with-router-links.pipe.ts
  libs/utils/src/lib/types/with-router-links.types.ts
Labels: enhancement, ngx-utils

#186 build(ngx-utils): v18.2.0
  libs/utils/package.json
Labels: publish, ngx-utils
