Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-12, with the labels that each got.

#291 feat(global): Move ngx-cookies lib
  apps/cookies-test/src/app/app.component.ts
  libs/angular/cookies/.eslintrc.json
  libs/angular/cookies/README.md
  libs/angular/cookies/jest.config.ts
  libs/angular/cookies/ng-package.json
  libs/angular/cookies/package.json
  libs/angular/cookies/project.json
  libs/angular/cookies/src/index.ts
  libs/angular/cookies/src/lib/abstracts/cookie-fallback/cookie-fallback.component.ts
  libs/angular/cookies/src/lib/abstracts/index.ts
  libs/angular/cookies/src/lib/directives/has-cookie/has-cookie.directive.ts
  libs/angular/cookies/src/lib/directives/index.ts
  libs/angular/cookies/src/lib/services/cookie/cookie.service.ts
  libs/angular/cookies/src/lib/services/index.ts
  libs/angular/cookies/src/lib/tokens/has-cookies-fallback/has-cookies-fallback.ts
  libs/angular/cookies/src/lib/tokens/index.ts
  libs/angular/cookies/src/lib/types/cookie-configuration.ts
  libs/angular/cookies/src/lib/types/has-cookie-configuration.ts
  libs/angular/cookies/src/lib/types/index.ts
  libs/angular/cookies/src/lib/types/set-cookie.ts
  libs/angular/cookies/src/test-setup.ts
  libs/angular/cookies/tsconfig.json
  libs/angular/cookies/tsconfig.lib.json
  libs/angular/cookies/tsconfig.lib.prod.json
  libs/angular/cookies/tsconfig.spec.json
  tsconfig.base.json
Labels: ngx-cookies, setup

#294 feat(global): Move ngx-inform lib
  libs/angular/inform/.eslintrc.json
  libs/angular/inform/README.md
  libs/angular/inform/jest.config.ts
  libs/angular/inform/ng-package.json
  libs/angular/inform/package.json
  libs/angular/inform/project.json
  libs/angular/inform/src/index.ts
  libs/angular/inform/src/lib/abstracts/index.ts
  libs/angular/inform/src/lib/abstracts/modal/modal.abstract.component.ts
  libs/angular/inform/src/lib/abstracts/tooltip/tooltip.abstract.component.ts
  libs/angular/inform/src/lib/directives/index.ts
  libs/angular/inform/src/lib/directives/tooltip/tooltip.directive.ts
  libs/angular/inform/src/lib/index.ts
  libs/angular/inform/src/lib/providers/index.ts
  libs/angular/inform/src/lib/providers/modal/modal-configuration.provider.ts
  libs/angular/inform/src/lib/providers/tooltip/tooltip-configuration.provider.ts
  libs/angular/inform/src/lib/services/index.ts
  libs/angular/inform/src/lib/services/modal/modal.service.ts
  libs/angular/inform/src/lib/services/tooltip/tooltip.service.spec.ts
  libs/angular/inform/src/lib/services/tooltip/tooltip.service.ts
  libs/angular/inform/src/lib/tokens/index.ts
  libs/angular/inform/src/lib/tokens/modal/modal-configuration.token.ts
  libs/angular/inform/src/lib/tokens/tooltip/tooltip-configuration.token.ts
  libs/angular/inform/src/lib/types/index.ts
  libs/angular/inform/src/lib/types/modal.types.ts
  libs/angular/inform/src/lib/types/tooltip.types.ts
  libs/angular/inform/src/test-setup.ts
  libs/angular/inform/tsconfig.json
  libs/angular/inform/tsconfig.lib.json
  libs/angular/inform/tsconfig.lib.prod.json
  libs/angular/inform/tsconfig.spec.json
  libs/inform/ng-package.json
  libs/inform/tsconfig.json
  libs/inform/tsconfig.lib.json
  tsconfig.base.json
Labels: ngx-inform, setup

#297 feat(global): Move ngx-table lib
  libs/angular/table/.eslintrc.json
  libs/angular/table/README.md
  libs/angular/table/karma.conf.js
  libs/angular/table/ng-package.json
  libs/angular/table/package-lock.json
  libs/angular/table/package.json
  libs/angular/table/project.json
  libs/angular/table/src/lib/cell/cell.directive.ts
  libs/angular/table/src/lib/cell/currency-cell.component.ts
  libs/angular/table/src/lib/cell/date-cell.component.ts
  libs/angular/table/src/lib/cell/generic-cell.directive.ts
  libs/angular/table/src/lib/cell/index.ts
  libs/angular/table/src/lib/directives/has-focus-action/has-focus.directive.ts
  libs/angular/table/src/lib/directives/has-focus-action/index.ts
  libs/angular/table/src/lib/directives/index.ts
  libs/angular/table/src/lib/directives/tree-grid/index.ts
  libs/angular/table/src/lib/directives/tree-grid/tree-grid-row.directive.ts
  libs/angular/table/src/lib/directives/tree-grid/tree-grid.cell.directive.ts
  libs/angular/table/src/lib/directives/tree-grid/tree-grid.directive.ts
  libs/angular/table/src/lib/enums/index.ts
  libs/angular/table/src/lib/enums/sort-direction.enum.ts
  libs/angular/table/src/lib/index.ts
  libs/angular/table/src/lib/interfaces/index.ts
  libs/angular/table/src/lib/interfaces/internal-helpers.ts
  libs/angular/table/src/lib/interfaces/show-header-requirements.ts
  libs/angular/table/src/lib/interfaces/sort-event.ts
  libs/angular/table/src/lib/interfaces/tree-grid.types.ts
  libs/angular/table/src/lib/pipes/aria-sort/aria-sort.pipe.ts
  libs/angular/table/src/lib/pipes/get-pipe/get.pipe.spec.ts
  libs/angular/table/src/lib/pipes/get-pipe/get.pipe.ts
  libs/angular/table/src/lib/pipes/has-observers.pipe.ts
  libs/angular/table/src/lib/pipes/index.ts
  libs/angular/table/src/lib/pipes/show-header/show-header.pipe.spec.ts
  libs/angular/table/src/lib/pipes/show-header/show-header.pipe.ts
  libs/angular/table/src/lib/pipes/sort-icon.pipe.ts
  libs/angular/table/src/lib/table/ngx-table.component.html
  libs/angular/table/src/lib/table/ngx-table.component.scss
  libs/angular/table/src/lib/table/ngx-table.component.ts
  libs/angular/table/src/lib/token/index.ts
  libs/angular/table/src/lib/token/ngx-table-config.token.ts
  libs/angular/table/src/lib/utils/generate-form.util.ts
  libs/angular/table/src/lib/utils/handle-form-changes.util.ts
  libs/angular/table/src/lib/utils/index.ts
  libs/angular/table/src/lib/utils/reset-form.util.ts
  libs/angular/table/src/public-api.ts
  libs/angular/table/src/test.ts
  libs/angular/table/tsconfig.lib.json
  libs/angular/table/tsconfig.lib.prod.json
  libs/angular/table/tsconfig.spec.json
  libs/table/ng-package.json
  libs/table/project.json
  tsconfig.base.json
Labels: ngx-table, setup

#298 feat(global): Move ngx-tour lib
  libs/angular/tour/.eslintrc.json
  libs/angular/tour/README.md
  libs/angular/tour/jest.config.ts
  libs/angular/tour/ng-package.json
  libs/angular/tour/package.json
  libs/angular/tour/project.json
  libs/angular/tour/src/index.ts
  libs/angular/tour/src/lib/abstracts/index.ts
  libs/angular/tour/src/lib/abstracts/tour-step/tour-step.component.ts
  libs/angular/tour/src/lib/directives/index.ts
  libs/angular/tour/src/lib/directives/tour-item/tour-item.directive.ts
  libs/angular/tour/src/lib/mocks/index.ts
  libs/angular/tour/src/lib/mocks/overlay.mock.ts
  libs/angular/tour/src/lib/mocks/tour-holder.component.mock.ts
  libs/angular/tour/src/lib/mocks/tour-step.component.mock.ts
  libs/angular/tour/src/lib/operators/index.ts
  libs/angular/tour/src/lib/operators/use-mock-data-during-tour/use-mock-data-during-tour.operator.spec.ts
  libs/angular/tour/src/lib/operators/use-mock-data-during-tour/use-mock-data-during-tour.operator.ts
  libs/angular/tour/src/lib/providers/index.ts
  libs/angular/tour/src/lib/providers/tour/provide-tour.util.ts
  libs/angular/tour/src/lib/services/index.ts
  libs/angular/tour/src/lib/services/tour-service/tour-server.spec.ts
  libs/angular/tour/src/lib/services/tour-service/tour.service.spec.ts
  libs/angular/tour/src/lib/services/tour-service/tour.service.ts
  libs/angular/tour/src/lib/tokens/index.ts
  libs/angular/tour/src/lib/tokens/tour-step.token.ts
  libs/angular/tour/src/lib/types/index.ts
  libs/angular/tour/src/lib/types/tour.types.ts
  libs/angular/tour/src/lib/utils/element-visible-in-viewport/element-visible-in-viewport.util.ts
  libs/angular/tour/src/lib/utils/index.ts
  libs/angular/tour/src/test-setup.ts
  libs/angular/tour/tsconfig.json
  libs/angular/tour/tsconfig.lib.json
  libs/angular/tour/tsconfig.lib.prod.json
  libs/angular/tour/tsconfig.spec.json
  libs/tour/ng-package.json
  libs/tour/tsconfig.json
  tsconfig.base.json
Labels: ngx-tour, setup

#299 feat(global): Final cleanup for Angular libs
  README.md
  libs/angular/cookies/jest.config.ts
  libs/angular/cookies/project.json
  libs/angular/forms/project.json
  libs/angular/i18n/project.json
  libs/angular/inform/project.json
  libs/angular/layout/project.json
  libs/angular/store/project.json
  libs/angular/table/project.json
  libs/angular/tour/project.json
  libs/angular/utils/project.json
Labels: ngx-forms, ngx-table, ngx-store, ngx-utils, ngx-layout, ngx-cookies, ngx-i18n, ngx-tour, ngx-inform, setup

#303 feat(global): Move RXJS-utils to repository
  libs/rxjs/utils/.eslintrc.json
  libs/rxjs/utils/README.md
  libs/rxjs/utils/docs/operators/array/array-operators.md
  libs/rxjs/utils/docs/operators/catch-and-call-through/catch-and-call-through.operator.md
  libs/rxjs/utils/docs/operators/combine-boolean/combine-boolean.operator.md
  libs/rxjs/utils/docs/operators/fetch-if/fetch-if.operator.md
  libs/rxjs/utils/docs/operators/pluck-or/pluck-or.operator.md
  libs/rxjs/utils/docs/operators/pluck/pluck.operator.md
  libs/rxjs/utils/docs/operators/populate/populate.operator.md
  libs/rxjs/utils/docs/operators/validate-content/validate-content.operator.md
  libs/rxjs/utils/docs/types/observable/observable.types.md
  libs/rxjs/utils/jest.config.ts
  libs/rxjs/utils/package.json
  libs/rxjs/utils/project.json
  libs/rxjs/utils/src/index.ts
  libs/rxjs/utils/src/lib/index.ts
  libs/rxjs/utils/src/lib/operators/array/array.operators.spec.ts
  libs/rxjs/utils/src/lib/operators/array/index.ts
  libs/rxjs/utils/src/lib/operators/array/map.operator.ts
  libs/rxjs/utils/src/lib/operators/array/slice.operator.ts
  libs/rxjs/utils/src/lib/operators/array/sort.operator.ts
  libs/rxjs/utils/src/lib/operators/catch-and-call-through/catch-and-call-through.operator.md
  libs/rxjs/utils/src/lib/operators/catch-and-call-through/catch-and-call-through.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/catch-and-call-through/catch-and-call-through.operator.ts
  libs/rxjs/utils/src/lib/operators/combine-boolean/combine-boolean.operator.md
  libs/rxjs/utils/src/lib/operators/combine-boolean/combine-boolean.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/combine-boolean/combine-boolean.operator.ts
  libs/rxjs/utils/src/lib/operators/fetch-if/fetch-if.operator.md
  libs/rxjs/utils/src/lib/operators/fetch-if/fetch-if.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/fetch-if/fetch-if.operator.ts
  libs/rxjs/utils/src/lib/operators/index.ts
  libs/rxjs/utils/src/lib/operators/pluck-or/pluck-or.operator.md
  libs/rxjs/utils/src/lib/operators/pluck-or/pluck-or.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/pluck-or/pluck-or.operator.ts
  libs/rxjs/utils/src/lib/operators/pluck/pluck.operator.md
  libs/rxjs/utils/src/lib/operators/pluck/pluck.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/pluck/pluck.operator.ts
  libs/rxjs/utils/src/lib/operators/populate/populate.operator.md
  libs/rxjs/utils/src/lib/operators/populate/populate.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/populate/populate.operator.ts
  libs/rxjs/utils/src/lib/operators/validate-content/validate-content.operator.md
  libs/rxjs/utils/src/lib/operators/validate-content/validate-content.operator.spec.ts
  libs/rxjs/utils/src/lib/operators/validate-content/validate-content.operator.ts
  libs/rxjs/utils/src/lib/types/index.ts
  libs/rxjs/utils/src/lib/types/observable/observable.types.md
  libs/rxjs/utils/src/lib/types/observable/observable.types.ts
  libs/rxjs/utils/tsconfig.json
  libs/rxjs/utils/tsconfig.lib.json
  libs/rxjs/utils/tsconfig.spec.json
  libs/rxjs/utils/vite.config.ts
  nx.json
  package-lock.json
  package.json
  project.json
  tsconfig.base.json
Labels: setup, rxjs-utils

#318 feat(ngx-layout): Use CDK LiveAnnouncer instead of custom service
  libs/angular/layout/README.md
  libs/angular/layout/src/lib/abstracts/drag-and-drop/drag-and-drop.service.ts
  libs/angular/layout/src/lib/services/index.ts
  libs/angular/layout/src/lib/services/live-region/live-region.service.ts
Labels: enhancement, ngx-layout

#319 build(ngx-layout):v18.4.2
  libs/angular/layout/package.json
Labels: publish, ngx-layout

#330 build(ngx-tour):v18.5.0
  libs/angular/tour/package.json
Labels: publish, ngx-tour

#323 fix(tests): adjust mock for new method
  libs/angular/utils/src/lib/services/broadcast-channel/broadcast-channel.service.spec.ts
Labels: bug, ngx-utils

#324 fix(build): specify correct paths for ng-doc & ngx libs + linting
  apps/cookies-test/project.json
  apps/cookies-test/src/app/app.component.ts
  apps/cookies-test/tsconfig.app.json
Labels: bug, ngx-cookies, setup

#325 fix(build): resolve generic build "errors" and apply linting in multiple libs
  apps/docs/project.json
  apps/docs/src/app/app.component.ts
  apps/docs/src/app/pages/landing/landing-page.component.ts
  libs/angular/layout/src/lib/components/accordion/accordion.component.ts
  libs/angular/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
Labels: bug, setup

#331 feat(pagination): Move pagination package to lib
  README.md
  libs/nodejs/pagination/.eslintrc.json
  libs/nodejs/pagination/README.md
  libs/nodejs/pagination/jest.config.ts
  libs/nodejs/pagination/package.json
  libs/nodejs/pagination/project.json
  libs/nodejs/pagination/src/hal-format.helper.spec.ts
  libs/nodejs/pagination/src/hal-format.helper.ts
  libs/nodejs/pagination/src/hal-format.types.ts
  libs/nodejs/pagination/src/index.ts
  libs/nodejs/pagination/tsconfig.json
  libs/nodejs/pagination/tsconfig.lib.json
  libs/nodejs/pagination/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Labels: setup, node-pagination

#332 fix(ngx-tour): Fix broken test
  libs/angular/tour/src/lib/services/tour-service/tour-server.spec.ts
  libs/angular/tour/src/lib/services/tour-service/tour.service.spec.ts
Labels: bug, ngx-tour

#334 feat(rxjs-utils): Move rxjs-utils to monorepo
  libs/nodejs/rxjs/.eslintrc.json
  libs/nodejs/rxjs/README.md
  libs/nodejs/rxjs/docs/operators/array/array-operators.md
  libs/nodejs/rxjs/docs/operators/catch-and-call-through/catch-and-call-through.operator.md
  libs/nodejs/rxjs/docs/operators/combine-boolean/combine-boolean.operator.md
  libs/nodejs/rxjs/docs/operators/fetch-if/fetch-if.operator.md
  libs/nodejs/rxjs/docs/operators/pluck-or/pluck-or.operator.md
  libs/nodejs/rxjs/docs/operators/pluck/pluck.operator.md
  libs/nodejs/rxjs/docs/operators/populate/populate.operator.md
  libs/nodejs/rxjs/docs/operators/validate-content/validate-content.operator.md
  libs/nodejs/rxjs/docs/types/observable/observable.types.md
  libs/nodejs/rxjs/package-lock.json
  libs/nodejs/rxjs/package.json
  libs/nodejs/rxjs/project.json
  libs/nodejs/rxjs/src/index.ts
  libs/nodejs/rxjs/src/lib/index.ts
  libs/nodejs/rxjs/src/lib/operators/array/array.operators.spec.ts
  libs/nodejs/rxjs/src/lib/operators/array/index.ts
  libs/nodejs/rxjs/src/lib/operators/array/map.operator.ts
  libs/nodejs/rxjs/src/lib/operators/array/slice.operator.ts
  libs/nodejs/rxjs/src/lib/operators/array/sort.operator.ts
  libs/nodejs/rxjs/src/lib/operators/catch-and-call-through/catch-and-call-through.operator.md
  libs/nodejs/rxjs/src/lib/operators/catch-and-call-through/catch-and-call-through.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/catch-and-call-through/catch-and-call-through.operator.ts
  libs/nodejs/rxjs/src/lib/operators/combine-boolean/combine-boolean.operator.md
  libs/nodejs/rxjs/src/lib/operators/combine-boolean/combine-boolean.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/combine-boolean/combine-boolean.operator.ts
  libs/nodejs/rxjs/src/lib/operators/fetch-if/fetch-if.operator.md
  libs/nodejs/rxjs/src/lib/operators/fetch-if/fetch-if.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/fetch-if/fetch-if.operator.ts
  libs/nodejs/rxjs/src/lib/operators/index.ts
  libs/nodejs/rxjs/src/lib/operators/pluck-or/pluck-or.operator.md
  libs/nodejs/rxjs/src/lib/operators/pluck-or/pluck-or.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/pluck-or/pluck-or.operator.ts
  libs/nodejs/rxjs/src/lib/operators/pluck/pluck.operator.md
  libs/nodejs/rxjs/src/lib/operators/pluck/pluck.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/pluck/pluck.operator.ts
  libs/nodejs/rxjs/src/lib/operators/populate/populate.operator.md
  libs/nodejs/rxjs/src/lib/operators/populate/populate.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/populate/populate.operator.ts
  libs/nodejs/rxjs/src/lib/operators/validate-content/validate-content.operator.md
  libs/nodejs/rxjs/src/lib/operators/validate-content/validate-content.operator.spec.ts
  libs/nodejs/rxjs/src/lib/operators/validate-content/validate-content.operator.ts
  libs/nodejs/rxjs/src/lib/types/index.ts
  libs/nodejs/rxjs/src/lib/types/observable/observable.types.md
  libs/nodejs/rxjs/src/lib/types/observable/observable.types.ts
  libs/nodejs/rxjs/tsconfig.json
  libs/nodejs/rxjs/tsconfig.lib.json
  libs/nodejs/rxjs/tsconfig.spec.json
  libs/nodejs/rxjs/vite.config.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: setup, rxjs-utils

#335 feat(utils): Move node-utils to the monorepo
  libs/nodejs/rxjs/package.json
  libs/nodejs/utils/.eslintrc.json
  libs/nodejs/utils/README.md
  libs/nodejs/utils/docs/object/get-key-by-value/get-key-by-value.util.md
  libs/nodejs/utils/docs/object/merge/merge.util.md
  libs/nodejs/utils/docs/string/camel-case-to-sentence/camel-case-to-sentence.util.md
  libs/nodejs/utils/docs/string/replace-whitespace/replace-whitespace.util.md
  libs/nodejs/utils/docs/string/string-comparator/string-comparator.util.md
  libs/nodejs/utils/jest.config.ts
  libs/nodejs/utils/package-lock.json
  libs/nodejs/utils/package.json
  libs/nodejs/utils/project.json
  libs/nodejs/utils/src/index.ts
  libs/nodejs/utils/src/lib/index.ts
  libs/nodejs/utils/src/lib/object/get-key-by-value/get-key-by-value.util.md
  libs/nodejs/utils/src/lib/object/get-key-by-value/get-key-by-value.util.spec.ts
  libs/nodejs/utils/src/lib/object/get-key-by-value/get-key-by-value.util.ts
  libs/nodejs/utils/src/lib/object/index.ts
  libs/nodejs/utils/src/lib/object/merge/merge.util.md
  libs/nodejs/utils/src/lib/object/merge/merge.util.spec.ts
  libs/nodejs/utils/src/lib/object/merge/merge.util.ts
  libs/nodejs/utils/src/lib/string/camel-case-to-sentence/camel-case-to-sentence.util.md
  libs/nodejs/utils/src/lib/string/camel-case-to-sentence/camel-case-to-sentence.util.spec.ts
  libs/nodejs/utils/src/lib/string/camel-case-to-sentence/camel-case-to-sentence.util.ts
  libs/nodejs/utils/src/lib/string/index.ts
  libs/nodejs/utils/src/lib/string/replace-whitespace/replace-whitespace.util.md
  libs/nodejs/utils/src/lib/string/replace-whitespace/replace-whitespace.util.spec.ts
  libs/nodejs/utils/src/lib/string/replace-whitespace/replace-whitespace.util.ts
  libs/nodejs/utils/src/lib/string/string-comparator/string-comparator.util.md
  libs/nodejs/utils/src/lib/string/string-comparator/string-comparator.util.spec.ts
  libs/nodejs/utils/src/lib/string/string-comparator/string-comparator.util.ts
  libs/nodejs/utils/tsconfig.json
  libs/nodejs/utils/tsconfig.lib.json
  libs/nodejs/utils/tsconfig.spec.json
  libs/nodejs/utils/vite.config.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: setup, node-utils

#336 feat(node-regex): Move regex package to monorepo
  libs/nodejs/regex/.eslintrc.json
  libs/nodejs/regex/README.md
  libs/nodejs/regex/docs/patterns/regional/be-phone-bin-formatted.md
  libs/nodejs/regex/jest.config.ts
  libs/nodejs/regex/package-lock.json
  libs/nodejs/regex/package.json
  libs/nodejs/regex/project.json
  libs/nodejs/regex/src/index.ts
  libs/nodejs/regex/src/lib/index.ts
  libs/nodejs/regex/src/lib/patterns/index.ts
  libs/nodejs/regex/src/lib/patterns/regional/be-phone-bin-formatted/be-phone-bin-formatted.spec.ts
  libs/nodejs/regex/src/lib/patterns/regional/be-phone-bin-formatted/be-phone-bin-formatted.ts
  libs/nodejs/regex/src/lib/patterns/regional/index.ts
  libs/nodejs/regex/tsconfig.json
  libs/nodejs/regex/tsconfig.lib.json
  libs/nodejs/regex/tsconfig.spec.json
  libs/nodejs/regex/vite.config.ts
  package.json
  tsconfig.base.json
Labels: setup, node-regex

#337 feat(node-testing): Move node-testing package to monorepo
  libs/nodejs/testing/.eslintrc.json
  libs/nodejs/testing/README.md
  libs/nodejs/testing/docs/factories/early-return-empty-array-value/early-return-empty-array-value.md
  libs/nodejs/testing/docs/factories/early-return-on-falsy-value/early-return-on-falsy-value.md
  libs/nodejs/testing/jest.config.ts
  libs/nodejs/testing/package-lock.json
  libs/nodejs/testing/package.json
  libs/nodejs/testing/project.json
  libs/nodejs/testing/src/index.ts
  libs/nodejs/testing/src/lib/factories/early-return-empty-array-value/early-return-empty-array-value.spec.ts
  libs/nodejs/testing/src/lib/factories/early-return-empty-array-value/early-return-empty-array-value.ts
  libs/nodejs/testing/src/lib/factories/early-return-on-falsy-value/early-return-on-falsy-value.spec.ts
  libs/nodejs/testing/src/lib/factories/early-return-on-falsy-value/early-return-on-falsy-value.ts
  libs/nodejs/testing/src/lib/factories/index.ts
  libs/nodejs/testing/tsconfig.json
  libs/nodejs/testing/tsconfig.lib.json
  libs/nodejs/testing/tsconfig.spec.json
  libs/nodejs/testing/vite.config.ts
  tsconfig.base.json
Labels: setup, node-testing

#322 fix: wrong default date format
  libs/angular/forms/src/lib/validators/date-range/date-range.validator.ts
  libs/angular/forms/src/lib/validators/validators.ts
Labels: bug, ngx-forms

#339 feat(global): Update linting, building and test scripts
  package.json
Labels: enhancement, setup

#342 feat(ngx-core): Setup core package
  libs/angular/core/.eslintrc.json
  libs/angular/core/README.md
  libs/angular/core/jest.config.ts
  libs/angular/core/ng-package.json
  libs/angular/core/package.json
  libs/angular/core/project.json
  libs/angular/core/src/index.ts
  libs/angular/core/src/lib/services/index.ts
  libs/angular/core/src/lib/services/window/window.service.md
  libs/angular/core/src/lib/services/window/window.service.mock.ts
  libs/angular/core/src/lib/services/window/window.service.spec.ts
  libs/angular/core/src/lib/services/window/window.service.ts
  libs/angular/core/src/test-setup.ts
  libs/angular/core/tsconfig.json
  libs/angular/core/tsconfig.lib.json
  libs/angular/core/tsconfig.lib.prod.json
  libs/angular/core/tsconfig.spec.json
  tsconfig.base.json
Labels: setup, ngx-core

#343 build(ngx-core):v19.0.0
  libs/angular/core/package.json
Labels: publish, ngx-core

#341 feat(documentaion): hyperdrive styling
  apps/docs/public/favicon.ico
  apps/docs/src/styles.scss
Labels: documentation, enhancement, setup
