Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-06, with the labels that each got.

#122 fix(ngx-store): Emit falsey initial values
  apps/store-test/src/app/app.component.ts
  apps/store-test/src/store/courses.store.ts
  libs/store/package.json
  libs/store/src/lib/store/spec/store-assets.ts
  libs/store/src/lib/store/spec/store-service.ts
  libs/store/src/lib/store/spec/store.spec.ts
  libs/store/src/lib/store/utils/base-store/base-store.util.ts
Labels: bug, ngx-store

#126 build(ngx-i18n):v17.1.0
  libs/i18n/package.json
Labels: ngx-translate, release

#123 feat(ngx-forms): Add the errors of the validators in the documentation
  libs/forms/package.json
  libs/forms/src/lib/validators/validators.ts
Labels: documentation, ngx-forms

#124 feat(ngx-tools): Update documentation to create a uniform look and feel
  README.md
  libs/cookies/README.md
  libs/forms/README.md
  libs/i18n/README.md
  libs/layout/README.md
  libs/layout/package.json
  libs/store/README.md
  libs/table/README.md
  libs/utils/README.md
  package.json
Labels: documentation, ngx-forms, ngx-table, ngx-store, ngx-utils, ngx-layout, ngx-cookies, ngx-translate

#127 build(ngx-utils):v17.8.0
  libs/utils/package.json
Labels: publish, ngx-utils

#128 build(ngx-cookies):v17.2.1
  libs/cookies/package.json
Labels: publish, ngx-cookies

#129 build(ngx-forms):v17.6.2
  libs/forms/package.json
Labels: publish, ngx-forms

#130 build(ngx-layout):v17.2.2
  libs/layout/package.json
Labels: publish, ngx-layout

#131 build(ngx-store):v17.3.2
  libs/store/package.json
Labels: publish, ngx-store

#132 build(ngx-table):v17.2.1
  libs/table/package.json
Labels: publish, ngx-table

#136 upgrade(18.0.0): Upgrade to Angular 18.0.0
  .gitignore
  .prettierignore
  apps/i18n-test/src/app/app.module.ts
  libs/cookies/ng-package.json
  libs/cookies/package.json
  libs/forms/package.json
  libs/i18n/package.json
  libs/layout/package.json
  libs/store/package.json
  libs/table/package.json
  libs/utils/package.json
  package-lock.json
  package.json
  tsconfig.base.json
Labels: upgrade

#137 upgrade(standalone-control-flow): Update the packages to work with standalone components and the new control flow
  .eslintrc.json
  apps/form-test/src/app/app.component.ts
  apps/form-test/src/app/app.module.ts
  apps/form-test/src/date-input/date-input.component.ts
  apps/form-test/src/depended-dates/depended-dates.component.ts
  apps/form-test/src/error/error.component.ts
  apps/form-test/src/form-accessor/form-accessor.component.ts
  apps/form-test/src/main.ts
  apps/i18n-test/src/app/app-routing.module.ts
  apps/i18n-test/src/app/app.component.ts
  apps/i18n-test/src/app/app.module.ts
  apps/i18n-test/src/feature/feature.module.ts
  apps/i18n-test/src/feature/feature.routes.ts
  apps/i18n-test/src/feature/feature.routing.module.ts
  apps/i18n-test/src/feature/pages/feature.component.ts
  apps/i18n-test/src/main.ts
  apps/layout-test/src/app/app.component.ts
  apps/store-test/src/app/app.component.ts
  apps/store-test/src/app/app.module.ts
  apps/store-test/src/main.ts
  apps/table-test/src/app/app.component.html
  apps/table-test/src/app/app.component.ts
  apps/table-test/src/app/wrapper/wrapper.component.ts
  libs/forms/README.md
  libs/forms/src/lib/abstracts/data-form/data-form.accessor.spec.ts
  libs/forms/src/lib/abstracts/form/form.accessor.spec.ts
  libs/forms/src/lib/directives/errors/errors.directive.spec.ts
  libs/forms/src/lib/directives/errors/errors.directive.ts
  libs/forms/src/lib/ngx-forms-errors.module.ts
  libs/forms/src/public-api.ts
  libs/layout/src/lib/components/configurable-layout/configurable-layout.component.html
  libs/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
  libs/table/src/lib/cell/date-cell.component.ts
  libs/table/src/lib/table/ngx-table.component.html
  libs/table/src/lib/table/ngx-table.component.ts
  libs/utils/src/lib/directives/focus-click/focus-click.directive.ts
  libs/utils/src/lib/pipes/array-contains-one/array-contains-one.pipe.ts
  libs/utils/src/lib/pipes/btw/btw.pipe.ts
  libs/utils/src/lib/pipes/clean-array/clean-array.pipe.ts
  libs/utils/src/lib/pipes/entries/entries.pipe.ts
  libs/utils/src/lib/pipes/has-observers/has-observers.pipe.ts
  libs/utils/src/lib/pipes/has-own-property/has-own-property.pipe.ts
  libs/utils/src/lib/pipes/has-values/has-values.pipe.ts
  libs/utils/src/lib/pipes/highlight/highlight.pipe.ts
  libs/utils/src/lib/pipes/iban/iban.pipe.ts
  libs/utils/src/lib/pipes/is-not-empty/is-not-empty.pipe.ts
  libs/utils/src/lib/pipes/join/join.pipe.ts
  libs/utils/src/lib/pipes/limit-to/limit-to.pipe.ts
  libs/utils/src/lib/pipes/log/log.pipe.ts
  libs/utils/src/lib/pipes/merge-arrays/merge-arrays.pipe.ts
  libs/utils/src/lib/pipes/safe-html/safe-html.pipe.ts
  libs/utils/src/lib/pipes/strip-html/strip-html.pipe.ts
  libs/utils/src/lib/pipes/to-array/to-array.pipe.ts
  libs/utils/src/lib/pipes/transform/transform.pipe.ts
  libs/utils/src/lib/pipes/truncate-text/truncate-text.pipe.ts
  libs/utils/src/lib/pipes/unique-by/uniq-by.pipe.ts
  libs/utils/src/lib/pipes/with-router-links/with-router-links.pipe.ts
  libs/utils/src/lib/utils.module.ts
  libs/utils/src/public-api.ts
Labels: upgrade

#138 build(ngx-store):v18.0.0
  libs/store/package.json
Labels: publish, ngx-store

#144 build(ngx-utils):v18.0.0
  libs/utils/package.json
Labels: publish, ngx-utils

#143 build(ngx-table):v18.0.0
  libs/table/package.json
Labels: publish, ngx-table

#142 build(ngx-forms):v18.0.0
  libs/forms/package.json
Labels: publish, ngx-forms

#141 build(ngx-cookies):v18.0.0
  libs/cookies/package.json
Labels: publish, ngx-cookies

#140 build(ngx-i18n): v18.0.0
  libs/i18n/package.json
Labels: publish, ngx-translate

#146 feat(ngx-store): Upgrade ngrx to v18.0.0
  libs/store/package.json
  libs/store/src/lib/store/interfaces/base-store.ts
  libs/store/src/lib/store/interfaces/entity-store-assets.ts
  package-lock.json
  package.json
Labels: upgrade, ngx-store

#147 build(ngx-store):v18.0.1
  libs/store/package.json
Labels: publish, ngx-store

#145 feat(ngx-layout): Add displayContent directive
  apps/layout-test/.eslintrc.json
  apps/layout-test/src/app/app.component.html
  apps/layout-test/src/app/app.component.ts
  apps/layout-test/src/app/app.config.ts
  apps/layout-test/src/display-content/error.component.ts
  apps/layout-test/src/display-content/index.ts
  apps/layout-test/src/display-content/loading.component.ts
  apps/layout-test/src/display-content/offline.component.ts
  libs/layout/.eslintrc.json
  libs/layout/README.md
  libs/layout/src/lib/abstracts/display-content/display-content.component.ts
  libs/layout/src/lib/abstracts/index.ts
  libs/layout/src/lib/directives/display-content/components/display-content-test.component.ts
  libs/layout/src/lib/directives/display-content/display-content.directive.spec.ts
  libs/layout/src/lib/directives/display-content/display-content.directive.ts
  libs/layout/src/lib/directives/index.ts
  libs/layout/src/lib/providers/display-content/display-content.provider.ts
  libs/layout/src/lib/providers/index.ts
  libs/layout/src/lib/services/index.ts
  libs/layout/src/lib/services/online-service/online.service.ts
  libs/layout/src/lib/tokens/display-content-configuration.token.ts
  libs/layout/src/lib/tokens/index.ts
  libs/layout/src/lib/types/display-content.types.ts
  libs/layout/src/lib/types/index.ts
  libs/layout/src/public-api.ts
Labels: enhancement, ngx-layout

#148 build(ngx-layout):v18.1.0
  libs/layout/package.json
Labels: publish, ngx-layout

#153 build(ngx-tour):v18.0.0
  libs/tour/package.json
Labels: publish, ngx-tour

#154 feat(ngx-tour): Add extra properties to step and make clipPath function with window resize
  apps/layout-test/src/pages/main/main.component.ts
  apps/layout-test/src/pages/secondary/secondary.component.html
  apps/layout-test/src/tour/special-tour.component.scss
  apps/layout-test/src/tour/tour.component.scss
  libs/tour/README.md
  libs/tour/src/lib/abstracts/tour-step/tour-step.component.ts
  libs/tour/src/lib/services/tour-service/tour.service.ts
  libs/tour/src/lib/types/tour.types.ts
Labels: enhancement, ngx-tour

#155 build(ngx-tour):v18.1.0
  libs/tour/package.json
Labels: publish, ngx-tour

#156 fix(ngx-tour): Fix issue with inconsistent scroll behaviour and prevent issues with missing the currentStep
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: bug, ngx-tour

#157 build(ngx-tour):v18.1.1
  libs/tour/package.json
Labels: publish, ngx-tour

#158 fix(ngx-layout): Handle scroll disabling ourselves instead of using the CDK strategy
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: bug, ngx-tour

#159 build(ngx-tour):v18.1.2
  libs/tour/package.json
Labels: publish, ngx-tour

#160 fix(ngx-tour): emit the closing events when the last element is not found
  apps/layout-test/src/pages/main/main.component.ts
  libs/tour/README.md
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: bug, ngx-tour

#161 build(ngx-tour):v18.1.3
  libs/tour/package.json
Labels: publish, ngx-tour

#162 fix(ngx-tour): Mark items as inactive when the tour gets closed
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: bug, ngx-tour

#163 build(ngx-tour):v18.1.4
  libs/tour/package.json
Labels: publish, ngx-tour
