Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-02, with the labels that each got.

#88 feat(ngx-store): Mark the store as protected instead of public
  projects/store/package.json
  projects/store/src/lib/store/abstracts/store.service.ts
Labels: enhancement, ngx-store

#90 bugfix(ngx-utils): The stripHtml pipe now has an optional 'replaceWith' argument
  projects/utils/package-lock.json
  projects/utils/package.json
  projects/utils/src/lib/pipes/strip-html/strip-html.pipe.spec.ts
  projects/utils/src/lib/pipes/strip-html/strip-html.pipe.ts
Labels: enhancement, ngx-utils

#91 bugfix(ngx-forms): The email validator is now case insensitive and allows for longer TLDs
  projects/forms/package-lock.json
  projects/forms/package.json
  projects/forms/src/lib/validators/email/extended-email.validator.ts
Labels: bug, enhancement, ngx-forms

#93 feat(ngx-table): Convert ngx-table to a standalone approach
  projects/table-test/src/app/app.component.ts
  projects/table-test/src/app/app.module.ts
  projects/table-test/src/main.ts
  projects/table/package.json
  projects/table/src/lib/cell/cell.directive.ts
  projects/table/src/lib/cell/currency-cell.component.ts
  projects/table/src/lib/cell/date-cell.component.ts
  projects/table/src/lib/cell/generic-cell.directive.ts
  projects/table/src/lib/index.ts
  projects/table/src/lib/ngx-table.module.ts
  projects/table/src/lib/pipes/get-pipe/get.pipe.ts
  projects/table/src/lib/pipes/has-observers.pipe.ts
  projects/table/src/lib/pipes/show-header/show-header.pipe.ts
  projects/table/src/lib/pipes/sort-icon.pipe.ts
  projects/table/src/lib/table/ngx-table.component.html
  projects/table/src/lib/table/ngx-table.component.ts
Labels: enhancement, ngx-table

#94 feat(ngx-store): Add option to add initialValue to the generators
  projects/store-test/src/app/app.component.ts
  projects/store-test/src/store/user.store.ts
  projects/store/package.json
  projects/store/src/lib/store/interfaces/index.ts
  projects/store/src/lib/store/interfaces/store-assets-generator-options.ts
  projects/store/src/lib/store/interfaces/store-generator.ts
  projects/store/src/lib/store/utils/base-store/base-store.util.spec.ts
  projects/store/src/lib/store/utils/base-store/base-store.util.ts
  projects/store/src/lib/store/utils/entity-store/entity-adapter.util.spec.ts
  projects/store/src/lib/store/utils/entity-store/entity-adapter.util.ts
  projects/store/src/lib/store/utils/store-generator.util/store-generator.util.ts
Labels: enhancement, ngx-store
