Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-03, with the labels that each got.

#95 feat(ngx-forms): Add save-on-exit mechanism
  projects/forms/README.md
  projects/forms/package.json
  projects/forms/src/lib/abstracts/index.ts
  projects/forms/src/lib/abstracts/save-on-exit/index.ts
  projects/forms/src/lib/abstracts/save-on-exit/save-on-exit.component.abstract.ts
  projects/forms/src/lib/abstracts/save-on-exit/save-on-exit.service.abstract.ts
  projects/forms/src/lib/guards/index.ts
  projects/forms/src/lib/guards/save-on-exit/save-on-exit.guard.ts
  projects/forms/src/public-api.ts
Labels: enhancement, ngx-forms

#101 feat(ngx-layout): Add drag and drop to the configurable layout
  projects/layout-test/src/app/app.component.html
  projects/layout-test/src/app/app.component.scss
  projects/layout-test/src/app/app.component.ts
  projects/layout/README.md
  projects/layout/package.json
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.html
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.scss
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
  projects/layout/src/lib/components/configurable-layout/configurable-layout.types.ts
  projects/layout/src/lib/components/index.ts
  projects/layout/src/lib/pipes/index.ts
  projects/layout/src/lib/pipes/item-size/item-size.pipe.spec.ts
  projects/layout/src/lib/pipes/item-size/item-size.pipe.ts
  projects/layout/src/lib/types/configurable-layout.ts
  projects/layout/src/lib/types/index.ts
  projects/layout/src/public-api.ts
Labels: enhancement, ngx-layout

#99 feat(ngx-utils): Add the NgxQueryParamFormSyncComponent
  projects/utils/README.md
  projects/utils/package.json
  projects/utils/src/lib/abstracts/index.ts
  projects/utils/src/lib/abstracts/query-param-form-sync/query-param-form-sync.component.abstract.md
  projects/utils/src/lib/abstracts/query-param-form-sync/query-param-form-sync.component.abstract.ts
  projects/utils/src/public-api.ts
Labels: enhancement, ngx-utils

#103 feat(ngx-forms): Add createAccessorProviders util
  projects/form-test/src/date-input/date-input.component.ts
  projects/form-test/src/depended-dates/depended-dates.component.ts
  projects/form-test/src/form-accessor/form-accessor.component.ts
  projects/forms/README.md
  projects/forms/package.json
  projects/forms/src/lib/utils/accessor-providers/accessor-providers.util.ts
  projects/forms/src/lib/utils/index.ts
Labels: enhancement, ngx-forms

#105 fix(ngx-layout): Fix styling issues with equal sizing
  projects/layout-test/src/app/app.component.html
  projects/layout-test/src/app/app.component.scss
  projects/layout/README.md
  projects/layout/package.json
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.html
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.scss
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
Labels: bug, enhancement, ngx-layout

#106 Bugfix/utils avoid duplicate witespace in strip html
  angular.json
  projects/layout-test/src/app/app.component.spec.ts
  projects/layout/karma.conf.js
  projects/utils/package-lock.json
  projects/utils/package.json
  projects/utils/src/lib/pipes/strip-html/strip-html.pipe.spec.ts
  projects/utils/src/lib/pipes/strip-html/strip-html.pipe.ts
Labels: bug, enhancement, ngx-utils, ngx-layout

#107 feat(ngx-layout): Make the ngx-configurable-layout editable by the end-user
  projects/layout-test/src/app/app.component.html
  projects/layout-test/src/app/app.component.scss
  projects/layout-test/src/app/app.component.ts
  projects/layout/README.md
  projects/layout/package.json
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.html
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.scss
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
  projects/layout/src/lib/pipes/item-size/item-size.pipe.ts
  projects/layout/src/lib/types/configurable-layout.ts
Labels: enhancement, ngx-layout

#109 fix(ngx-layout): Fix unnecessary emits in the ngx-configurable-layout
  projects/layout-test/src/app/app.component.ts
  projects/layout/package.json
  projects/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
Labels: bug, ngx-layout
