Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-09, with the labels that each got.

#214 feat(ngx-inform): export the injection token to use the tooltip in non-angular environments
  libs/inform/src/lib/index.ts
  libs/inform/src/lib/tokens/tooltip/tooltip-configuration.token.ts
Labels: bug, ngx-inform

#213 build(ngx-inform):v18.1.2
  libs/inform/package.json
Labels: publish, ngx-inform

#216 feat(ngx-i18n): Make the package cohesive with other packages and add SetLanguageGuard
  apps/i18n-test/src/app/app-routing.module.ts
  apps/i18n-test/src/app/app.component.ts
  apps/i18n-test/src/feature/feature.routes.ts
  apps/i18n-test/src/feature/pages/feature.component.ts
  apps/i18n-test/src/feature/translation.loader.ts
  apps/i18n-test/src/main.ts
  libs/i18n/.eslintrc.json
  libs/i18n/README.md
  libs/i18n/src/lib/abstracts/i18n-service.abstract.ts
  libs/i18n/src/lib/components/empty-component/empty.component.ts
  libs/i18n/src/lib/components/index.ts
  libs/i18n/src/lib/guards/i18n/i18n.guard.spec.ts
  libs/i18n/src/lib/guards/i18n/i18n.guard.ts
  libs/i18n/src/lib/guards/index.ts
  libs/i18n/src/lib/guards/set-language/set-language.guard.ts
  libs/i18n/src/lib/guards/translation-loader/translation-loader.guard.spec.ts
  libs/i18n/src/lib/guards/translation-loader/translation-loader.guard.ts
  libs/i18n/src/lib/i18n.const.ts
  libs/i18n/src/lib/i18n.module.ts
  libs/i18n/src/lib/i18n.types.ts
  libs/i18n/src/lib/index.ts
  libs/i18n/src/lib/loader/multi-translation/multi-translation.loader.ts
  libs/i18n/src/lib/providers/i18n.providers.ts
  libs/i18n/src/lib/resolvers/i18n/i18n.resolver.spec.ts
  libs/i18n/src/lib/resolvers/i18n/i18n.resolver.ts
  libs/i18n/src/lib/services/i18n-loading/i18n-loading.service.spec.ts
  libs/i18n/src/lib/services/i18n-loading/i18n-loading.service.ts
  libs/i18n/src/lib/services/i18n/i18n.service.spec.ts
  libs/i18n/src/lib/services/i18n/i18n.service.ts
  libs/i18n/src/lib/services/root-i18n/root-i18n.service.ts
  libs/i18n/src/lib/tokens/i18n.token.ts
  libs/i18n/src/lib/tokens/index.ts
Labels: enhancement, ngx-i18n

#215 build(ngx-i18n):v18.1.0
  libs/i18n/package.json
Labels: publish, ngx-i18n

#217 fix(ngx-i18n): Add initializeLanguage
  libs/i18n/src/lib/guards/i18n/i18n.guard.spec.ts
  libs/i18n/src/lib/guards/i18n/i18n.guard.ts
  libs/i18n/src/lib/guards/set-language/set-language.guard.ts
  libs/i18n/src/lib/services/root-i18n/root-i18n.service.ts
Labels: bug, ngx-i18n

#218 build(ngx-i118n):v18.1.1
  libs/i18n/package.json
Labels: publish, ngx-i18n

#219 feat(ngx-inform): Add modal setup
  apps/layout-test/src/app/app.component.html
  apps/layout-test/src/app/app.component.ts
  apps/layout-test/src/app/app.config.ts
  apps/layout-test/src/modal/confirm.component.ts
  apps/layout-test/src/modal/modal.component.scss
  apps/layout-test/src/modal/modal.component.ts
  libs/inform/README.md
  libs/inform/package.json
  libs/inform/src/lib/abstracts/index.ts
  libs/inform/src/lib/abstracts/modal/modal.abstract.component.ts
  libs/inform/src/lib/abstracts/tooltip/tooltip.abstract.component.ts
  libs/inform/src/lib/index.ts
  libs/inform/src/lib/providers/index.ts
  libs/inform/src/lib/providers/modal/modal-configuration.provider.ts
  libs/inform/src/lib/services/index.ts
  libs/inform/src/lib/services/modal/modal.service.ts
  libs/inform/src/lib/services/tooltip/tooltip.service.spec.ts
  libs/inform/src/lib/services/tooltip/tooltip.service.ts
  libs/inform/src/lib/tokens/index.ts
  libs/inform/src/lib/tokens/modal/modal-configuration.token.ts
  libs/inform/src/lib/tokens/tooltip/tooltip-configuration.token.ts
  libs/inform/src/lib/types/index.ts
  libs/inform/src/lib/types/modal.types.ts
Labels: enhancement, ngx-inform

#221 build(ngx-inform):v18.2.0
  libs/inform/package.json
Labels: publish, ngx-inform

#222 fix(ngx-inform): pass dataType onto modal data property
  libs/inform/README.md
  libs/inform/src/lib/services/modal/modal.service.ts
Labels: bug, ngx-inform

#223 build(ngx-inform):v18.2.1
  libs/inform/package.json
Labels: publish, ngx-inform

#225 fix(modal.service): verify the subject is not undefined when checking if a modal exists
  libs/inform/src/lib/services/modal/modal.service.ts
Labels: bug, ngx-inform

#224 build(ngx-inform):v18.2.2
  libs/inform/package.json
Labels: publish, ngx-inform

#227 fix(modalService): replace the subject with a behaviorSubject and document entities
  libs/inform/src/lib/services/modal/modal.service.ts
  libs/inform/src/lib/types/modal.types.ts
Labels: bug, ngx-inform

#226 build(ngx-inform):v18.2.3
  libs/inform/package.json
Labels: publish, ngx-inform

#233 fix(ngx-inform): allow modal data set in the modal component to be emitted to the parent along with the type
  apps/layout-test/src/app/app.component.ts
  apps/layout-test/src/app/app.config.ts
  apps/layout-test/src/modal/confirm.component.ts
  libs/inform/src/lib/abstracts/modal/modal.abstract.component.ts
  libs/inform/src/lib/services/modal/modal.service.ts
  libs/inform/src/lib/types/modal.types.ts
Labels: bug, ngx-inform

#232 build(ngx-inform):v18.2.4
  libs/inform/package.json
Labels: publish, ngx-inform

#231 feat(ngx-table): Make the table accessible through the tree-grid pattern
  apps/table-test/src/app/app.component.html
  apps/table-test/src/app/app.component.ts
  libs/table/README.md
  libs/table/package.json
  libs/table/src/lib/cell/cell.directive.ts
  libs/table/src/lib/directives/has-focus-action/has-focus.directive.ts
  libs/table/src/lib/directives/has-focus-action/index.ts
  libs/table/src/lib/directives/index.ts
  libs/table/src/lib/directives/tree-grid/index.ts
  libs/table/src/lib/directives/tree-grid/tree-grid-row.directive.ts
  libs/table/src/lib/directives/tree-grid/tree-grid.cell.directive.ts
  libs/table/src/lib/directives/tree-grid/tree-grid.directive.ts
  libs/table/src/lib/interfaces/index.ts
  libs/table/src/lib/interfaces/tree-grid.types.ts
  libs/table/src/lib/pipes/aria-sort/aria-sort.pipe.ts
  libs/table/src/lib/pipes/index.ts
  libs/table/src/lib/table/ngx-table.component.html
  libs/table/src/lib/table/ngx-table.component.ts
Labels: enhancement, ngx-table

#230 build(ngx-table):v18.1.0
  libs/table/package.json
Labels: publish, ngx-table

#236 fix(ngx-table): Correctly check the focus on element
  apps/table-test/src/app/app.component.html
  apps/table-test/src/app/app.component.ts
  libs/table/src/lib/directives/tree-grid/tree-grid.cell.directive.ts
Labels: bug, ngx-table

#237 build(ngx-table):v18.1.1
  libs/table/package.json
Labels: publish, ngx-table
