Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-08, with the labels that each got.

#187 fix(ngx-store): Fix incorrect behaviour in state functions
  libs/store/src/lib/store/abstracts/store.service.ts
  libs/store/src/lib/store/spec/store-state.service.ts
  libs/store/src/lib/store/spec/store.state.spec.ts
  libs/store/src/lib/store/utils/base-store/base-store.util.ts
  libs/store/src/lib/store/utils/entity-store/entity-adapter.util.ts
Labels: bug, ngx-store

#190 fix(forms): the custom-control-value-accessor will now throw a warning when no parent control was found
  libs/forms/src/lib/abstracts/custom-control-value-accessor/custom-control-value-accessor.ts
Labels: bug, ngx-forms

#189 build(forms): v18.0.2
  libs/forms/package-lock.json
  libs/forms/package.json
Labels: publish, ngx-forms

#191 fix(utils|forms): an import of obj-clean was breaking production builds in codebases that use esModuleInterop with the application builder (ng18+)
  libs/forms/src/lib/validators/all-or-nothing-required/all-or-nothing-required.validator.ts
  libs/forms/src/lib/validators/at-least-one-required/at-least-one-required.validator.ts
  libs/forms/src/lib/validators/utils/form-error.util.ts
  libs/utils/src/lib/pipes/has-values/has-values.pipe.ts
  tsconfig.base.json
Labels: bug, ngx-forms, ngx-utils

#195 feat(ngx-utils): Add replace-elements pipe
  libs/utils/README.md
  libs/utils/package.json
  libs/utils/src/lib/pipes/replace-elements/replace-elements.pipe.md
  libs/utils/src/lib/pipes/replace-elements/replace-elements.pipe.spec.ts
  libs/utils/src/lib/pipes/replace-elements/replace-elements.pipe.ts
  libs/utils/src/lib/pipes/with-router-links/with-router-links.pipe.spec.ts
  libs/utils/src/lib/providers/index.ts
  libs/utils/src/lib/providers/replace-elements/replace-elements.provider.ts
  libs/utils/src/lib/tokens/index.ts
  libs/utils/src/lib/tokens/replace-elements.token.ts
  libs/utils/src/lib/types/index.ts
  libs/utils/src/lib/types/replace-elements.types.ts
Labels: enhancement, ngx-utils

#196 build(ngx-utils):v18.3.0
  libs/utils/package.json
Labels: publish, ngx-utils

#192 feat(ngx-tour): add and remove a body class to allow for custom stying when the tour is active
  apps/layout-test/src/pages/main/main.component.html
  apps/layout-test/src/styles.scss
  libs/tour/src/lib/mocks/overlay.mock.ts
  libs/tour/src/lib/operators/use-mock-data-during-tour/use-mock-data-during-tour.operator.spec.ts
  libs/tour/src/lib/services/tour-service/tour-server.spec.ts
  libs/tour/src/lib/services/tour-service/tour.service.spec.ts
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: enhancement, ngx-tour

#197 build(ngx-tour):v18.3.0
  libs/tour/package.json
Labels: publish, ngx-tour

#198 feat(ngx-utils): Expose replace-elements provider
  libs/utils/src/lib/providers/index.ts
  libs/utils/src/public-api.ts
Labels: enhancement, ngx-utils

#199 build(ngx-utils):v18.3.1
  libs/utils/package.json
Labels: publish, ngx-utils

#200 fix(ngx-utils): Expose missing directive and token
  libs/utils/src/lib/pipes/index.ts
  libs/utils/src/public-api.ts
Labels: bug, ngx-utils

#201 build(ngx-utils):v18.3.2
  libs/utils/package.json
Labels: publish, ngx-utils

#202 feat(ngx-tour): cleanup console statements
  libs/tour/src/lib/services/tour-service/tour.service.spec.ts
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: bug, ngx-tour

#203 build(ngx-tour):v18.3.1
  libs/tour/package.json
Labels: publish, ngx-tour

#204 fix(ngx-table): fix currency cell behaviour
  apps/table-test/src/app/app.component.html
  apps/table-test/src/app/app.component.ts
  libs/table/src/lib/cell/currency-cell.component.ts
Labels: bug, ngx-table

#207 feat(ngx-inform): Setup ngx-inform package
  libs/inform/.eslintrc.json
  libs/inform/jest.config.ts
  libs/inform/ng-package.json
  libs/inform/package.json
  libs/inform/project.json
  libs/inform/src/index.ts
  libs/inform/src/test-setup.ts
  libs/inform/tsconfig.json
  libs/inform/tsconfig.lib.json
  libs/inform/tsconfig.lib.prod.json
  libs/inform/tsconfig.spec.json
  tsconfig.base.json
Labels: ngx-inform, setup

#208 feat(ngx-layout): Add NgxTooltipDirective
  apps/layout-test/src/app/app.config.ts
  apps/layout-test/src/pages/main/main.component.html
  apps/layout-test/src/pages/main/main.component.ts
  apps/layout-test/src/tooltip/tooltip.component.scss
  apps/layout-test/src/tooltip/tooltip.component.ts
  libs/inform/README.md
  libs/inform/src/index.ts
  libs/inform/src/lib/abstracts/index.ts
  libs/inform/src/lib/abstracts/tooltip/tooltip.abstract.component.ts
  libs/inform/src/lib/directives/index.ts
  libs/inform/src/lib/directives/tooltip/tooltip.directive.ts
  libs/inform/src/lib/index.ts
  libs/inform/src/lib/providers/index.ts
  libs/inform/src/lib/providers/tooltip/tooltip-configuration.provider.ts
  libs/inform/src/lib/services/index.ts
  libs/inform/src/lib/services/tooltip-service/tooltip.service.spec.ts
  libs/inform/src/lib/services/tooltip-service/tooltip.service.ts
  libs/inform/src/lib/tokens/index.ts
  libs/inform/src/lib/tokens/tooltip/tooltip-configuration.token.ts
  libs/inform/src/lib/types/index.ts
  libs/inform/src/lib/types/tooltip.types.ts
  libs/inform/src/test-setup.ts
  libs/utils/src/lib/pipes/index.ts
  tsconfig.base.json
Labels: enhancement, ngx-inform

#209 feat(ngx-inform): Add ability to disable the tooltip directive
  apps/layout-test/src/pages/main/main.component.html
  libs/inform/README.md
  libs/inform/package.json
  libs/inform/src/lib/directives/tooltip/tooltip.directive.ts
Labels: enhancement, ngx-inform

#210 build(ngx-inform): v18.1.0
  libs/inform/package.json
Labels: publish, ngx-inform

#211 fix(tooltip): Allow moving between tooltips when they're stacked
  apps/layout-test/src/pages/main/main.component.html
  apps/layout-test/src/pages/main/main.component.scss
  libs/inform/src/lib/abstracts/tooltip/tooltip.abstract.component.ts
  libs/inform/src/lib/directives/tooltip/tooltip.directive.ts
  libs/inform/src/lib/services/tooltip-service/tooltip.service.spec.ts
  libs/inform/src/lib/services/tooltip-service/tooltip.service.ts
  libs/inform/src/lib/types/tooltip.types.ts
Labels: bug, ngx-inform

#212 build(ngx-inform):v18.1.1
  libs/inform/package.json
Labels: publish, ngx-inform
