Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2024-10, with the labels that each got.

#239 fix(ngx-table): Stringify the selectableKey value
  libs/table/README.md
  libs/table/src/lib/table/ngx-table.component.html
Labels: bug, ngx-table

#240 build(ngx-table):v18.1.2
  libs/table/package.json
Labels: publish, ngx-table

#241 feat(ngx-i18n): Add the ability to change the configuration when needed
  apps/i18n-test/src/app/app.component.ts
  apps/i18n-test/src/main.ts
  libs/i18n/src/lib/guards/i18n/i18n.guard.spec.ts
  libs/i18n/src/lib/guards/i18n/i18n.guard.ts
  libs/i18n/src/lib/i18n.types.ts
  libs/i18n/src/lib/services/root-i18n/root-i18n.service.ts
Labels: enhancement, ngx-i18n

#242 build(ngx-i18n):v18.2.0
  libs/i18n/package.json
Labels: publish, ngx-i18n

#251 feat(ngx-layout): Add accordion component
  apps/layout-test/src/app/app.component.html
  apps/layout-test/src/app/app.component.ts
  apps/layout-test/src/styles.scss
  libs/layout/README.md
  libs/layout/package.json
  libs/layout/src/lib/components/accordion/accordion.component.ts
  libs/layout/src/lib/components/accordion/index.ts
  libs/layout/src/lib/components/accordion/item/accordion-item.component.html
  libs/layout/src/lib/components/accordion/item/accordion-item.component.scss
  libs/layout/src/lib/components/accordion/item/accordion-item.component.ts
  libs/layout/src/lib/components/index.ts
  libs/layout/src/lib/types/accordion.types.ts
  libs/layout/src/lib/types/index.ts
Labels: enhancement, ngx-layout

#252 build(ngx-layout):v18.2.0
  libs/layout/package.json
Labels: publish, ngx-layout

#253 feat(utils): the utils now contain a service that wraps around the BroadcastChannel API
  libs/utils/README.md
  libs/utils/package.json
  libs/utils/src/lib/services/broadcast-channel/broadcast-channel.md
  libs/utils/src/lib/services/broadcast-channel/broadcast-channel.service.spec.ts
  libs/utils/src/lib/services/broadcast-channel/broadcast-channel.service.ts
  libs/utils/src/lib/services/index.ts
Labels: enhancement, ngx-utils

#254 build(utils): v18.4.0
  libs/utils/package-lock.json
  libs/utils/package.json
Labels: ngx-utils

#256 feat(ngx-layout): Fix issue with displayContent and add WCAG/aria compliancy
  libs/layout/README.md
  libs/layout/package.json
  libs/layout/src/lib/directives/display-content/display-content.directive.ts
  libs/layout/src/lib/types/display-content.types.ts
Labels: bug, enhancement, ngx-layout

#257 build(ngx-layout):v18.3.0
  libs/layout/package.json
Labels: publish, ngx-layout

#258 fix(ngx-layout): update change detection as soon as an item is toggled
  libs/layout/src/lib/components/accordion/item/accordion-item.component.ts
Labels: bug, ngx-layout

#259 build(ngx-layout):v18.3.1
  libs/layout/package.json
Labels: publish, ngx-layout

#260 feat(ngx-tour): Adds WCAG/ARIA compliancy to the ngx-tour
  apps/layout-test/src/tour/special-tour.component.ts
  apps/layout-test/src/tour/tour.component.ts
  libs/tour/README.md
  libs/tour/package.json
  libs/tour/src/lib/abstracts/tour-step/tour-step.component.ts
  libs/tour/src/lib/directives/tour-item/tour-item.directive.ts
  libs/tour/src/lib/services/tour-service/tour.service.ts
Labels: enhancement, ngx-layout

#263 fix(ngx-inform): Correctly implement aria-labelledBy and aria-describedBy
  apps/layout-test/src/app/app.component.ts
  apps/layout-test/src/modal/modal.component.ts
  libs/inform/README.md
  libs/inform/src/lib/abstracts/modal/modal.abstract.component.ts
  libs/inform/src/lib/services/modal/modal.service.ts
Labels: bug, ngx-inform

#264 build(ngx-inform):v18.2.5
  libs/inform/package.json
Labels: publish, ngx-inform
