Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2025-02, with the labels that each got.

#396 feat(documentation): Update documentation landing page
  apps/docs/src/app/pages/landing/landing-page.component.html
Labels: documentation, enhancement

#395 documentation(ngx-layout): Update introduction page
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/accordion/accordion.component.html
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/accordion/accordion.component.scss
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/accordion/accordion.component.ts
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/annotation/annotation.component.html
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/annotation/annotation.component.scss
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/annotation/annotation.component.ts
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/data.demo.ts
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/index.ts
  apps/docs/src/app/pages/docs/angular/layout/introduction/demos/offline/offline.component.ts
  apps/docs/src/app/pages/docs/angular/layout/introduction/index.md
  apps/docs/src/app/pages/docs/angular/layout/introduction/ng-doc.page.ts
  apps/docs/src/app/pages/docs/angular/table/introduction/index.md
Labels: documentation, enhancement, ngx-layout

#398 build(ngx-table):v19.0.1
  libs/angular/table/package.json
Labels: publish, ngx-table

#400 feat(ngx-auth): Add interceptor and authenticated http client
  apps/docs/src/app/pages/docs/angular/authentication/implementation/index.md
  libs/angular/authentication/package.json
  libs/angular/authentication/src/lib/index.ts
  libs/angular/authentication/src/lib/interceptors/authentication/authentication.interceptor.spec.ts
  libs/angular/authentication/src/lib/interceptors/authentication/authentication.interceptor.ts
  libs/angular/authentication/src/lib/interceptors/index.ts
  libs/angular/authentication/src/lib/mocks/authenticated-http-client.mock.ts
  libs/angular/authentication/src/lib/mocks/index.ts
  libs/angular/authentication/src/lib/providers/authentication-configuration.provider.ts
  libs/angular/authentication/src/lib/services/authenticated-http-client/authenticated-http-client.service.spec.ts
  libs/angular/authentication/src/lib/services/authenticated-http-client/authenticated-http-client.service.ts
  libs/angular/authentication/src/lib/services/index.ts
  libs/angular/authentication/src/lib/tokens/authentication-configuration.token.ts
  libs/angular/authentication/src/lib/types/authentication-configuration.types.ts
  libs/angular/authentication/src/lib/types/index.ts
Labels: enhancement, ngx-auth

#401 build(ngx-auth):v19.0.0
  libs/angular/authentication/package.json
Labels: publish, ngx-auth

#410 feat(readme): added a link to the docs in the repo
  README.md
Labels: documentation
