Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2025-04, with the labels that each got.

#415 feat(ngx-i18n): add the option to cache bust the translation files using the root config
  apps/i18n-test/src/main.ts
  libs/angular/i18n/src/lib/i18n.types.ts
  libs/angular/i18n/src/lib/loader/multi-translation/multi-translation.loader.ts
Labels: enhancement, ngx-i18n

#416 build(ngx-i18n):v19.1.0
  libs/angular/i18n/package.json
Labels: publish, ngx-i18n

#413 fix(global): Replace Angular-uuid with uuid
  README.md
  libs/angular/authentication/package.json
  libs/angular/i18n/src/lib/resolvers/i18n/i18n.resolver.ts
  libs/angular/inform/src/lib/directives/tooltip/tooltip.directive.ts
  libs/angular/layout/src/lib/abstracts/drag-and-drop/drag-and-drop.service.ts
  libs/angular/layout/src/lib/components/accordion/item/accordion-item.component.ts
  libs/angular/layout/src/lib/services/image-marker/image-marker.service.ts
  libs/angular/tour/src/lib/abstracts/tour-step/tour-step.component.ts
  libs/angular/tour/src/lib/directives/tour-item/tour-item.directive.ts
  package-lock.json
  package.json
Labels: upgrade, ngx-layout, ngx-i18n, ngx-tour, ngx-inform

#421 fix(ngx-auth): Fix incorrect obj-clean import
  libs/angular/authentication/src/lib/services/authenticated-http-client/authenticated-http-client.service.ts
Labels: bug, ngx-auth
