Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2025-01, with the labels that each got.

#344 Bugfix/configurable layout on push
  apps/layout-test/src/pages/main/main.component.ts
  libs/angular/layout/src/lib/components/configurable-layout/configurable-layout.component.html
  libs/angular/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
  nx.json
Labels: bug, ngx-layout

#340 feat(express-status): Move express-status to the monorepo
  libs/angular/core/package.json
  libs/angular/core/src/lib/services/window/window.service.spec.ts
  libs/express/status/.eslintrc.json
  libs/express/status/README.md
  libs/express/status/jest.config.ts
  libs/express/status/package-lock.json
  libs/express/status/package.json
  libs/express/status/project.json
  libs/express/status/src/controllers/express-status.controller.spec.ts
  libs/express/status/src/controllers/express-status.controller.ts
  libs/express/status/src/express-status.types.ts
  libs/express/status/src/index.ts
  libs/express/status/src/routers/express-status.router.ts
  libs/express/status/src/types/globals.d.ts
  libs/express/status/tsconfig.json
  libs/express/status/tsconfig.lib.json
  libs/express/status/tsconfig.spec.json
  libs/express/status/vite.config.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: setup, express-status

#351 Feat/documantion/deploy docs to GitHub pages
  .github/workflows/deploy-docs.yml
  apps/docs/project.json
  apps/docs/server.ts
  apps/docs/src/app/pages/docs/landing/docs-page.component.html
  apps/docs/src/app/pages/landing/landing-page.component.html
  apps/docs/src/app/pages/landing/landing-page.component.scss
  apps/docs/src/index.html
  apps/docs/src/styles.scss
  apps/docs/tsconfig.app.json
Labels: documentation, enhancement

#346 fix(nx-core): add stylelint
  .eslintrc.json
  .prettierrc.js
  .stylelintrc.json
  .vscode/extensions.json
  apps/cookies-test/.stylelintrc.json
  apps/cookies-test/project.json
  apps/docs/.stylelintrc.json
  apps/docs/project.json
  apps/docs/src/app/pages/docs/angular/table/implementation/sorting-selecting-row-actions/demos/sorting/sorting.demo.component.ts
  apps/form-test/.stylelintrc.json
  apps/form-test/project.json
  apps/i18n-test/.stylelintrc.json
  apps/i18n-test/project.json
  apps/layout-test/.stylelintrc.json
  apps/layout-test/project.json
  apps/store-test/.stylelintrc.json
  apps/store-test/project.json
  apps/table-test/.stylelintrc.json
  apps/table-test/project.json
  libs/angular/cookies/.stylelintrc.json
  libs/angular/cookies/project.json
  libs/angular/core/.stylelintrc.json
  libs/angular/core/project.json
  libs/angular/forms/.stylelintrc.json
  libs/angular/forms/project.json
  libs/angular/i18n/.stylelintrc.json
  libs/angular/i18n/project.json
  libs/angular/inform/.stylelintrc.json
  libs/angular/inform/project.json
  libs/angular/layout/.stylelintrc.json
  libs/angular/layout/project.json
  libs/angular/store/.stylelintrc.json
  libs/angular/store/project.json
  libs/angular/table/.stylelintrc.json
  libs/angular/table/project.json
  libs/angular/tour/.stylelintrc.json
  libs/angular/tour/project.json
  libs/angular/utils/.stylelintrc.json
  libs/angular/utils/project.json
  libs/javascript/pagination/.stylelintrc.json
  libs/javascript/pagination/project.json
  libs/javascript/regex/.stylelintrc.json
  libs/javascript/regex/project.json
  libs/javascript/rxjs/.stylelintrc.json
  libs/javascript/rxjs/project.json
  libs/javascript/testing/.stylelintrc.json
  libs/javascript/testing/project.json
  libs/javascript/utils/.stylelintrc.json
  libs/javascript/utils/project.json
  nx.json
  package-lock.json
  package.json
Labels: enhancement, setup

#362 fix(docs): posible fix broken-navigation
  .github/workflows/deploy-docs.yml
Labels: bug, documentation

#363 feat(js-rxjs): return the data of the source in every callback
  libs/javascript/rxjs/src/lib/operators/fetch-if/fetch-if.operator.md
  libs/javascript/rxjs/src/lib/operators/fetch-if/fetch-if.operator.spec.ts
  libs/javascript/rxjs/src/lib/operators/fetch-if/fetch-if.operator.ts
Labels: enhancement, js-rxjs

#364 build(js-rxjs):v2.2.1
  libs/javascript/rxjs/package.json
Labels: publish, js-rxjs

#366 feature: Add search recursively util + documentation
  apps/docs/src/app/pages/docs/javascript/utils/introduction/index.md
  apps/docs/src/app/pages/docs/javascript/utils/object/search-recursively/index.md
  apps/docs/src/app/pages/docs/javascript/utils/object/search-recursively/ng-doc.page.ts
  libs/javascript/utils/src/lib/object/index.ts
  libs/javascript/utils/src/lib/object/search-recursively/search-recursively.util.md
  libs/javascript/utils/src/lib/object/search-recursively/search-recursively.util.spec.ts
  libs/javascript/utils/src/lib/object/search-recursively/search-recursively.util.ts
Labels: enhancement, js-utils

#368 build(@studiohyperdrive/utils): v1.0.2
  libs/javascript/utils/package.json
Labels: publish, js-utils

#372 documentation(ngx-table): Update introduction page
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/configuration/table-configuration.demo.component.html
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/configuration/table-configuration.demo.component.scss
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/configuration/table-configuration.demo.component.ts
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/data.demo.ts
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/index.ts
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/styling/table-styling.demo.component.html
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/styling/table-styling.demo.component.scss
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/styling/table-styling.demo.component.ts
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/table-introduction/table-introduction.demo.component.html
  apps/docs/src/app/pages/docs/angular/table/introduction/demos/table-introduction/table-introduction.demo.component.ts
  apps/docs/src/app/pages/docs/angular/table/introduction/index.md
  apps/docs/src/app/pages/docs/angular/table/introduction/ng-doc.page.ts
  apps/docs/src/styles.scss
Labels: documentation, enhancement, ngx-table

#369 documentation(ngx-forms): Update introduction documentation
  apps/docs/src/app/pages/docs/angular/forms/introduction/index.md
Labels: documentation, enhancement, ngx-forms

#375 feature: add SimpleChangesHasChanged util
  apps/docs/src/app/categories/angular/index.ts
  apps/docs/src/app/categories/angular/utils/sub-categories/utils/ng-doc.category.ts
  apps/docs/src/app/pages/docs/angular/utils/utils/simple-changes/index.md
  apps/docs/src/app/pages/docs/angular/utils/utils/simple-changes/ng-doc.page.ts
  libs/angular/utils/src/lib/utils/simple-changes/simple-changes.util.md
  libs/angular/utils/src/lib/utils/simple-changes/simple-changes.util.spec.ts
  libs/angular/utils/src/lib/utils/simple-changes/simple-changes.util.ts
Labels: ngx-utils

#376 Chore/fix linting tests
  apps/docs/src/app/pages/docs/angular/forms/implementation/form-accessor-container/demos/form-accessor-container/depended-dates/depended-dates.validator.ts
  apps/docs/src/app/pages/docs/angular/tour/implementation/demos/tour/components/special-tour.component.ts
  apps/docs/src/app/pages/docs/angular/tour/implementation/demos/tour/components/tour.component.ts
  apps/docs/src/app/pages/docs/javascript/utils/file/openFile/ng-doc.page.ts
  libs/angular/forms/src/lib/abstracts/custom-control-value-accessor/custom-control-value-accessor.ts
  libs/angular/forms/src/lib/abstracts/data-form/data-form.accessor.spec.ts
  libs/angular/forms/src/lib/abstracts/data-form/data-form.accessor.ts
  libs/angular/forms/src/lib/abstracts/form/form.accessor.spec.ts
  libs/angular/forms/src/lib/abstracts/form/form.accessor.ts
  libs/angular/forms/src/lib/directives/errors/errors.directive.spec.ts
  libs/angular/forms/src/lib/interfaces/form-accessor-control-keys.ts
  libs/angular/forms/src/lib/validators/decimals-after-comma/decimals-after-comma.validator.ts
  libs/angular/layout/src/lib/components/configurable-layout/configurable-layout.component.ts
  libs/angular/layout/src/lib/directives/display-content/display-content.directive.spec.ts
  libs/angular/layout/src/lib/directives/drag-and-drop/drag-and-drop-host.directive.ts
  libs/angular/layout/src/lib/directives/drag-and-drop/drag-and-drop-item.directive.ts
  libs/angular/layout/src/lib/types/drag-and-drop.types.ts
  libs/javascript/rxjs/project.json
  libs/javascript/rxjs/src/lib/operators/fetch-if/fetch-if.operator.spec.ts
  libs/javascript/rxjs/src/lib/types/observable/observable.types.ts
  libs/javascript/utils/src/lib/object/search-recursively/search-recursively.util.spec.ts
  libs/javascript/utils/src/lib/string/normalize-string/normalize-string.util.spec.ts
  libs/javascript/utils/src/lib/string/search-string/search-string.util.spec.ts
Labels: bug

#352 Chore: add express docs
  apps/docs/src/app/categories/express/index.ts
  apps/docs/src/app/categories/express/ng-doc.category.ts
  apps/docs/src/app/categories/express/status/ng-doc.category.ts
  apps/docs/src/app/pages/docs/express/index.md
  apps/docs/src/app/pages/docs/express/ng-doc.page.ts
  apps/docs/src/app/pages/docs/express/status/implementation/index.md
  apps/docs/src/app/pages/docs/express/status/implementation/ng-doc.page.ts
  apps/docs/src/app/pages/docs/express/status/installation/index.md
  apps/docs/src/app/pages/docs/express/status/installation/ng-doc.page.ts
  apps/docs/src/app/pages/docs/express/status/introduction/index.md
  apps/docs/src/app/pages/docs/express/status/introduction/ng-doc.page.ts
Labels: documentation, enhancement

#377 chore: add utils to installation page to ngx-utils
  apps/docs/src/app/pages/docs/angular/utils/installation/index.md
  libs/angular/utils/src/lib/utils/index.ts
  libs/angular/utils/src/public-api.ts
Labels: bug, ngx-utils

#382 feat(ngx-core): Move simple-changes util to ngx-core
  libs/angular/core/src/index.ts
  libs/angular/core/src/lib/utils/index.ts
  libs/angular/core/src/lib/utils/simple-changes/simple-changes.util.md
  libs/angular/core/src/lib/utils/simple-changes/simple-changes.util.spec.ts
  libs/angular/core/src/lib/utils/simple-changes/simple-changes.util.ts
  tsconfig.base.json
Labels: enhancement, ngx-core

#383 build(ngx-core):v19.1.0
  libs/angular/core/package.json
Labels: publish, ngx-core

#378 feat(ngx-layout): Add image-marker component
  .vscode/settings.json
  apps/docs/src/app/pages/docs/angular/layout/implementation/components/index.md
  apps/layout-test/src/assets/klimmuur.webp
  apps/layout-test/src/pages/image-marker/image-marker.component.html
  apps/layout-test/src/pages/image-marker/image-marker.component.ts
  apps/layout-test/src/pages/main/main.component.ts
  apps/layout-test/src/pages/secondary/secondary.component.ts
  apps/layout-test/src/routes.ts
  libs/angular/layout/package.json
  libs/angular/layout/src/lib/components/image-marker/image-marker.component.scss
  libs/angular/layout/src/lib/components/image-marker/image-marker.component.ts
  libs/angular/layout/src/lib/components/index.ts
  libs/angular/layout/src/lib/services/image-marker/image-marker.service.ts
  libs/angular/layout/src/lib/services/index.ts
  libs/angular/layout/src/lib/types/image-marker.types.ts
  libs/angular/layout/src/lib/types/index.ts
  package-lock.json
  package.json
Labels: enhancement, ngx-layout

#379 build(ngx-layout):v19.1.0
  libs/angular/layout/package.json
Labels: publish, ngx-layout

#385 feat(ngx-layout): Allow zoom levels to be passed to the image-marker
  apps/docs/src/app/pages/docs/angular/layout/implementation/components/index.md
  apps/layout-test/src/pages/image-marker/image-marker.component.html
  libs/angular/layout/src/lib/components/image-marker/image-marker.component.ts
  libs/angular/layout/src/lib/services/image-marker/image-marker.service.ts
  libs/angular/layout/src/lib/types/image-marker.types.ts
Labels: enhancement, ngx-layout

#386 build(ngx-layout):v19.2.0
  libs/angular/layout/package.json
Labels: publish, ngx-layout

#380 feature: mark old window service as deprecated and update everywhere …
  apps/docs/src/app/pages/docs/angular/core/services/window-service/index.md
  apps/docs/src/app/pages/docs/angular/utils/pipes/replace-elements/index.md
  apps/docs/src/app/pages/docs/angular/utils/pipes/with-router-links/index.md
  apps/docs/src/app/pages/docs/angular/utils/services/broadcast-channel/index.md
  apps/docs/src/app/pages/docs/angular/utils/services/window-service/index.md
  libs/angular/cookies/src/lib/services/cookie/cookie.service.ts
  libs/angular/core/src/lib/services/window/window.service.mock.ts
  libs/angular/core/src/lib/services/window/window.service.ts
  libs/angular/i18n/src/lib/services/root-i18n/root-i18n.service.ts
  libs/angular/inform/src/lib/abstracts/modal/modal.abstract.component.ts
  libs/angular/layout/src/lib/services/online-service/online.service.ts
  libs/angular/tour/src/lib/operators/use-mock-data-during-tour/use-mock-data-during-tour.operator.spec.ts
  libs/angular/tour/src/lib/services/tour-service/tour-server.spec.ts
  libs/angular/tour/src/lib/services/tour-service/tour.service.spec.ts
  libs/angular/tour/src/lib/services/tour-service/tour.service.ts
  libs/angular/tour/src/test-setup.ts
  libs/angular/utils/src/lib/pipes/replace-elements/replace-elements.pipe.md
  libs/angular/utils/src/lib/pipes/with-router-links/with-router-links.md
  libs/angular/utils/src/lib/services/broadcast-channel/broadcast-channel.md
  libs/angular/utils/src/lib/services/broadcast-channel/broadcast-channel.service.spec.ts
  libs/angular/utils/src/lib/services/broadcast-channel/broadcast-channel.service.ts
  libs/angular/utils/src/lib/services/index.ts
  libs/angular/utils/src/lib/services/media-query/mediaquery.service.ts
  libs/angular/utils/src/lib/services/storage-service/storage.service.spec.ts
  libs/angular/utils/src/lib/services/storage-service/storage.service.ts
  libs/angular/utils/src/lib/services/window-service/window.service.md
  libs/angular/utils/src/lib/services/window-service/window.service.mock.ts
  libs/angular/utils/src/lib/services/window-service/window.service.spec.ts
  libs/angular/utils/src/lib/services/window-service/window.service.ts
Labels: deprecation

#387 fix(ngx-i18n): Remove dependency on ngx-utils
  libs/angular/i18n/src/lib/services/root-i18n/root-i18n.service.ts
Labels: bug, ngx-i18n

#388 feat(setup): Add module boundaries
  .eslintrc.json
  apps/cookies-test/project.json
  apps/docs/project.json
  apps/form-test/project.json
  apps/i18n-test/project.json
  apps/layout-test/project.json
  apps/store-test/project.json
  apps/table-test/project.json
Labels: enhancement, setup

#389 feat(js-types-auth): Setup authentication types package
  .verdaccio/config.yml
  apps/docs/src/app/categories/javascript/index.ts
  apps/docs/src/app/categories/javascript/types/ng-doc.category.ts
  apps/docs/src/app/pages/docs/javascript/types/authentication/index.md
  apps/docs/src/app/pages/docs/javascript/types/authentication/ng-doc.page.ts
  apps/docs/src/app/pages/docs/javascript/types/introduction/index.md
  apps/docs/src/app/pages/docs/javascript/types/introduction/ng-doc.page.ts
  libs/javascript/types/auth/.eslintrc.json
  libs/javascript/types/auth/README.md
  libs/javascript/types/auth/package.json
  libs/javascript/types/auth/project.json
  libs/javascript/types/auth/src/index.ts
  libs/javascript/types/auth/src/lib/index.ts
  libs/javascript/types/auth/src/lib/types/index.ts
  libs/javascript/types/auth/src/lib/types/user.types.ts
  libs/javascript/types/auth/tsconfig.json
  libs/javascript/types/auth/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  project.json
  tsconfig.base.json
Labels: setup, js-types-auth

#390 build(js-types-auth):v1.0.0
  libs/javascript/types/auth/package.json
Labels: publish, js-types-auth

#391 fix(js-types-auth): Replace builder with Vite and add session type
  .gitignore
  libs/express/status/package.json
  libs/javascript/regex/package.json
  libs/javascript/rxjs/package.json
  libs/javascript/testing/package.json
  libs/javascript/types/auth/package.json
  libs/javascript/types/auth/project.json
  libs/javascript/types/auth/src/lib/types/user.types.ts
  libs/javascript/types/auth/tsconfig.lib.json
  libs/javascript/types/auth/vite.config.ts
  libs/javascript/utils/package.json
  nx.json
  package-lock.json
  package.json
Labels: bug, js-types-auth

#392 build(js-types-auth):v2.0.0
  libs/javascript/types/auth/package.json
Labels: publish, js-types-auth

#393 build(studiohyperdrive/utils):v2.0.1
  libs/javascript/utils/package.json
Labels: publish, js-utils
