Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2025-05, with the labels that each got.

#425 build(ngx-utils):v19.0.1
  libs/angular/utils/package.json
Labels: publish, ngx-utils

#427 fix(ngx-auth): Correctly implement the body parameter of POST, PUSH a…
  libs/angular/authentication/src/lib/services/authenticated-http-client/authenticated-http-client.service.ts
Labels: bug, ngx-auth

#431 Fix: correct next page logic in calculateNextPage utility
  libs/javascript/pagination/src/hal-format.helper.spec.ts
  libs/javascript/pagination/src/hal-format.helper.ts
Labels: bug, js-pagination
