Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2025-06, with the labels that each got.

#430 fix(store): rename storeService
  apps/docs/src/app/pages/docs/angular/store/implementation/index.md
  apps/docs/src/app/pages/docs/angular/store/introduction/index.md
  apps/docs/src/app/pages/docs/angular/utils/abstracts/query-param-form-sync/index.md
  apps/store-test/src/services/courses.service.ts
  libs/angular/store/README.md
  libs/angular/store/src/lib/store/abstracts/store.service.ts
  libs/angular/store/src/lib/store/spec/store-service.ts
  libs/angular/store/src/lib/store/spec/store-state.service.ts
  libs/angular/store/src/lib/store/spec/store.spec.ts
  libs/angular/store/src/public-api.ts
  libs/angular/utils/src/lib/abstracts/query-param-form-sync/query-param-form-sync.component.abstract.md
Labels: enhancement, ngx-store

#435 build(ngx-gov-flanders):v19.0.0
  libs/angular/gov/flanders/package.json
Labels: publish, ngx-gov-flanders

#437 upgrade(ngx-store): Upgrade to latest ngrx-store version
  libs/angular/store/package.json
  package-lock.json
  package.json
Labels: upgrade, ngx-store

#436 build(ngx-store):v19.2.0
  libs/angular/store/package.json
Labels: publish, ngx-store
