Repository studiohyperdrive/hyperdrive-opensource, pull requests merged in 2025-07, with the labels that each got.

#441 build(ngx-store):v19.3.0
  libs/angular/store/package.json
Labels: publish, ngx-store

#443 build(ngx-table):v19.0.2
  libs/angular/table/package.json
Labels: publish, ngx-table

#445 build(ngx-table):v19.0.3
  libs/angular/table/package.json
Labels: publish, ngx-table

#446 feat(ngx-table): add an optional context row to the table
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-one/context-row-one.demo.component.html
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-one/context-row-one.demo.component.ts
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-three/context-row-three.demo.component.html
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-three/context-row-three.demo.component.scss
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-three/context-row-three.demo.component.ts
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-two/context-row-two.demo.component.html
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/context-row-two/context-row-two.demo.component.ts
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/demos/index.ts
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/index.md
  apps/docs/src/app/pages/docs/angular/table/implementation/context-row/ng-doc.page.ts
  apps/table-test/src/app/app.component.html
  apps/table-test/src/app/app.component.scss
  apps/table-test/src/app/app.component.ts
  apps/table-test/src/main.ts
  libs/angular/table/src/lib/table/ngx-table.component.html
  libs/angular/table/src/lib/table/ngx-table.component.scss
  libs/angular/table/src/lib/table/ngx-table.component.ts
  libs/angular/table/src/lib/token/ngx-table-config.token.ts
Labels: enhancement, ngx-table

#447 build(ngx-table):v19.0.4
  libs/angular/table/package.json
Labels: publish, ngx-table
